{% extends 'base.html.twig' %}
        {% block title %}Add Story{% endblock %}
        {% block stylesheets %}{% endblock %}
        
        
        {% block body %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <p id="feedback"></p>
            {{ form_end(form) }}
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('build/form.js') }}"></script>
        {% endblock %}